<!DOCTYPE html>
<html lang="en">
<head>
<title>Panel Monitor - Target Temperature</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link href="/static/bootstrap4.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/static/style.css" />
<script src="/static/bootstrap4.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<!-- Pump schedule template                       -->
<!-- Used by poolweb.py to generate schedule page -->
<div class="container mt-3">
  <h1>Target Temperature</h1>

  <form method=POST>
    <div class="form-group">
      <div class="checkbox">
        <label><input type="checkbox" name="target" value="93" {% if '93' in target %}checked{% endif %}>93</label>  
        <label><input type="checkbox" name="target" value="94" {% if '94' in target %}checked{% endif %}>94</label>  
        <label><input type="checkbox" name="target" value="95" {% if '95' in target %}checked{% endif %}>95</label>  
        <label><input type="checkbox" name="target" value="96" {% if '96' in target %}checked{% endif %}>96</label>
        <label><input type="checkbox" name="target" value="97" {% if '97' in target %}checked{% endif %}>97</label>    
        <label><input type="checkbox" name="target" value="98" {% if '98' in target %}checked{% endif %}>98</label>  
        <label><input type="checkbox" name="target" value="99" {% if '99' in target %}checked{% endif %}>99</label>  
        <label><input type="checkbox" name="target" value="100" {% if '100' in target %}checked{% endif %}>100</label>  
        <label><input type="checkbox" name="target" value="101" {% if '101' in target %}checked{% endif %}>101</label>  
        <label><input type="checkbox" name="target" value="102" {% if '102' in target %}checked{% endif %}>102</label>
        <label><input type="checkbox" name="target" value="103" {% if '103' in target %}checked{% endif %}>103</label>
        <label><input type="checkbox" name="target" value="104" {% if '104' in target %}checked{% endif %}>104</label>
        <label><input type="checkbox" name="target" value="105" {% if '105' in target %}checked{% endif %}>105</label>
        <label><input type="checkbox" name="target" value="106" {% if '106' in target %}checked{% endif %}>106</label>
        <label><input type="checkbox" name="target" value="107" {% if '107' in target %}checked{% endif %}>107</label>
        <label><input type="checkbox" name="target" value="108" {% if '108' in target %}checked{% endif %}>108</label>
<script>
$(document).ready(function(){
    $('input:checkbox').click(function() {
        $('input:checkbox').not(this).prop('checked', false);
    });
});
</script>
      </div>  
    </div>
    
    <button type="submit" class="btn btn-primary btn-lg">Save</button>
    <a href="{{ url_for('index') }}" class="btn btn-outline-dark btn-lg" role="button">Back</a>
  </form>

</div>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <div class="container mt-3">
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  </div>
  {% endif %}
{% endwith %}

</body>
</html>
